.appShell {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100dvh;
    overflow: hidden;
}

.appShellMobile {
    display: block;
    height: 100dvh;
    min-height: 100dvh;
    overflow: hidden;
}

@media (max-width: 900px) {
    .appShell {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .appShell > :first-child {
        order: 0;
    }

    .appShell > :last-child {
        order: 1;
    }

    .appShellMobile {
        flex-direction: initial;
        overflow: hidden;
    }
}
